# Ignorar node_modules em qualquer nível
node_modules/
**/node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build / dist
dist/
build/

# Variáveis de ambiente
.env
.env.*

# Sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

./claude